html {
    scroll-behavior: smooth;
  }
.logo{
      width: 30%;
      height: auto;
  }
nav{
      display:flex;


  }
#home{
      height: 100px;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url("../images/Ellipse\ 10skillscircle.png");
      background-size: 100px;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: none;
  }
#storyNav{
      height: 100px;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url("../images/Ellipse\ 10browncircle.png");
      background-size: 100px;
      color: #707070;
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: none;
  }
#contactNav{
      height: 100px;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url("../images/Ellipse\ 10orangecircle.png");
      background-size: 100px;
      color: #707070;
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: none;
  }
#workNav{
      height: 100px;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url("../images/Ellipse\ 10pinkcircle.png");
      background-size: 100px;
      color: #707070;
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: none;
  }
  header{
    justify-content: center;
    align-items: center;
    background-image: url("../images/Vector\ 1navbackground.png");
    background-size: cover;
    background-position: center;
    background-repeat: none;
    display: flex;
    width: 100%;
}
h1{
    color: black;
    text-align: center;
    font-size: 28px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}
.underline{
  display: inline-block;
  background-color: #FFE5E8;
}
h2{
    color: black;
    font-size: 28px;
    font-family: 'Playfair Display', serif;
}
.h2center{
    display: inline-block;
    background-color: #FFE5E8;
}
p{
    color: black;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
}
.lead{
    text-align: center;
}
.descriptionwemind{
    text-align: center;
}
.wemindCase {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
.wemindlogo{
    max-width: 30%;
    height: auto;
    padding: 50px;
}
button{
    background-color:#F4C8B7;
    border-radius:20px;
    border: none;
    padding: 16px 32px;
    cursor: pointer;
    font-size: 14px;
    color: black;
    font-weight: medium;
}
.internalnavbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFE5E8;
    padding: 50px;
}
.navitem{
    color: #9D523B;
}
.btn-secondary {
    background-color: #F4C8B7;
    border-radius: 20px;
    border: none;
    padding: 16px 32px;
    cursor: pointer;
    font-size: 14px;
    color: black;
    font-weight: medium;
}
#carouselExampleIndicators{
    background-color: white;
    background-position: center;
    background-repeat: repeat-x;
    background-size: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 50px 100px;
}

.columns-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 50px;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
  }
  /* Your existing styles */
.columns-container {
    justify-content: space-between;
  }
  .columns-containergoals {
    justify-content: center;
    align-items: center;
  }
/* Responsive for columns container */
  @media screen and (max-width: 800px){
    .columns-container {
      flex-direction: column;
    }
    .container {
      flex-direction: column;
      max-width: 100%;
      height: auto;
      }
    .wemindCase{
      flex-direction: column;
    }
    .col{
      flex-direction: column;
    }
    .define-phase{
      flex-direction: column;
    }
  }
  
  .columns-container {
    display: flex;
    justify-content: space-between;
  }

  .column {
    flex: 1;
    padding: 0;
    margin: 0;
    text-align: justify;
  }

  #empathize-container {
    text-align: center;
  }

  .protopersona {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
/* Tools container */
    .icons{
        width: 50px;
        margin: 0 20px;
    }
    .icons img{
        width: 100%;
    }
    .icons-sm{
        height: 10%;
        width: 50px;
        margin: 0 10px 10px;
    }
    .icons-sm img{
        width: 100%;
    }
  .flexcontainer{
    display: flex;
    justify-content: center;
    padding: 50px;
}

 /* Goals*/
.goals{
    align-items: center;
    justify-content: center;
    text-align: justify;
}
.grid-item {
    padding: 10px;
  }

.row{
  padding: 50px;
}

.empathaze-phase{
  background-image: url("../images/brown\ elipse.png");
  background-repeat: no-repeat;
  background-position: right center; /* Adjust the background position */
  background-size: auto 10%; /* Adjust the background size */
}

.define-phase{
  background-image: url("../images/pink\ 30\ elipse.png");
  background-repeat: no-repeat;
  background-position: left center; /* Adjust the background position */
  background-size: auto 50%; /* Adjust the background size */
}

.ideate-phase {
  background-image: url("../images/clear\ elipse.png");
  background-repeat: no-repeat;
  background-position: right center; /* Adjust the background position */
  background-size: auto 50%; /* Adjust the background size */
}

.userpersona{
  padding: 50px;
}
.sketching, .prototype, .testingph {
    padding: 50px;
}

#scrollToTopBtn {
  display: none; /* Hide the button by default */
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #333;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#scrollToTopBtn:hover {
  background-color: #555;
}



/* Here starts the Footer */
footer ul{
    width: 100%;
    background-color:#F5F5F1;
    justify-content: center;
    display: flex;
    align-items: center;
    padding-inline-start: 0px;
}
footer li{
    list-style: none;
    padding: 40px;
} 